    <%- include('partials/_header'); -%>
        
        <div class="container">
            <div class="row">
                <!--FORM-->
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <form action="/add" method="POST">
                                <div class="form-group">
                                    <input type="text" name="title" placeholder="insert a title " class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <textarea name="description" cols="80" placeholder="insert a description  " class="form-control"></textarea>
                                </div>
                                <button type="submit" class="btn-primary btn-block">Add</button>
                            </form>
                        </div>
                    </div>

                </div>
                 <!--LIST-->
                 <div class="col-md-7">
                     <table class=" table table-bordered table-hover">
                         <thead>
                             <tr></tr>
                             <th>N°</th>
                             <th>title</th>
                             <th>description</th>
                             <th>operation</th>
                         </thead>

                     </table>

                 </div>
            </div>

        </div>

    <%- include('partials/_footer'); -%>

